/*all*/
*{ margin: 0; padding: 0; box-sizing: border-box; transition: all .5s; font-family: "nanumgothic"; color: #333; }
*:after { content: ""; display: block; clear: both; }

/*font*/
@font-face {
	font-family: "nanumgothic";
	src: "/font/NanumGothic-Regular.woff";
}

/*tag*/
a { text-decoration: none; color: #3498db; }
li { list-style: none; }
span { display: inline-block; }
button { border: 0; }
.ABOUT,.PORTFOLIO,.CONTACT,.COMMUNITY,.WRITE { display: none; }

/*html,body*/
html,body { width: 100%; height: 100%; }

/*wrap*/
#wrap { width: 100%; margin: 0 auto; background: #eeeeee; }

/*header*/
#header { width: 100%; height: 335px; background: #3498db; }
.tit { width: 570px; height: 80px; color: #fff; padding-top: 100px; }
.tit > h1 { font-size: 3em; text-align: center; }
.tit > p { font-size: 1em; text-align: center; padding-top: 20px; }

/*header menu*/
.nav { width: 100%; height: 80px; background: #2980b9; padding-left: 80px; margin-top: 155px; }
.nav > ul li { float: left; width: 150px; height: 80px; font-weight: bold; font-size: 1.2em; text-align: center; padding-top: 25px; cursor: pointer; }
.nav > ul li:hover { background: rgb(255,255,255); }
.nav > ul li:nth-child(5) { display: none; }

/*section*/
section { width: 100%; }
.sec_tit { width: 100%; padding-top: 100px; }
.sec_tit > h2 { text-align: center; font-size: 2.2em; }
.underline { width: 60px; height: 4px; background: #3498db; margin: 0 auto; margin-top: 15px; }
section.on { display: block; }

/*about*/
.profil { width: 1000px; height: 500px; border-radius: 4px; background: #c5d5dd; margin: 0 auto; margin-top: 50px; margin-bottom: 70px; }
.profil > p { padding: 60px 0 0 50px; font-size: 1.1em;  }
.profil > p > span { font-weight: bold; color: rgba(0,0,0, .7); }

/*portfolio*/
.PORTFOLIO > ul { width: 1200px; margin: 0 auto; margin-top: 50px; margin-bottom: 50px; }
.PORTFOLIO > ul li { float: left; overflow: hidden; position: relative; margin: 20px 1.6%; width: 30%; box-shadow: 0 0 20px -4px; cursor: pointer; border-radius: 4px; }
.PORTFOLIO > ul li img { width: 100%; }

.site:hover .bg { opacity: 1; }
.bg { position: absolute; width: 100%; height: 100%; background-color: rgba(0,0,0,.7); opacity: 0; border-radius: 3px; }
.bg > p { font-size: 1.2em; color: #fff; text-align: center; line-height: 300px; }
.text { padding: 10px; }
.text h3 { line-height: 40px; }
.text p { color: #999; font-size: .9em; line-height: 40px; }

/*contact*/
.cont { width: 700px; height: 300px; background: #c5d5dd; margin: 0 auto; margin-top: 50px; margin-bottom: 70px; border-radius: 4px; }
.cont > p { padding: 55px 0 0 50px; font-size: 1.1em; }
.cont > p > span { font-weight: bold; color: rgba(0,0,0, .7); }

/*community*/
.table { box-shadow: 1px 2px 5px 0px rgba(0,0,0,.2); }
.board { width: 1000px; margin: 0 auto; margin-top: 50px; margin-bottom: 70px;}
.wr_btn { color: #333; float: right; font-size: 1em; font-weight: bold; margin-top: 10px; width: 80px; height: 40px; text-align: center; line-height: 40px; background: #3498db; box-shadow: 1px 2px 5px 0px rgba(0,0,0,.2); cursor: pointer; }
.wr_btn:hover { background: #ddd; }

.table ul { border: 1px solid #ddd; height: 50px; line-height: 45px; }
.list:hover { background: #ddd; }

.table li { float: left; text-align: center; }
.table ul li:nth-child(1) { width: 100px; }
.table ul li:nth-child(2) { width: 500px; margin: 0 25px; }
.table ul li:nth-child(3) { width: 110px; }
.table ul li:nth-child(4) { width: 110px; }
.table ul li:nth-child(5) { width: 115px; }


.title,.date,.writer { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.title a { color: #333; }
.title a:hover { text-decoration: underline; }
.date { font-size: 0.8em; }

/*write*/
.writing { width: 1000px; background: #fff; height: 400px; border: 1px solid #ddd; border-radius: 10px; margin: 0 auto; margin-top: 50px; margin-bottom: 70px;}
.writing > form input { border: 1px solid #ddd; border-radius: 4px; }
.writing > form input:nth-child(1) { width: 680px; height: 40px; margin: 10px }
.writing > form input:nth-child(2) { width: 280px; height: 40px; margin: 10px 0px; }
.textaa { width: 975px; height: 315px; margin: 10px 10px; border: 1px solid #ddd; border-radius: 3px; margin-bottom: 15px; }

/*footer*/
#footer { width: 100%; height: 70px; background: #ddd; }
#footer p { text-align: center; padding-top: 20px; }